<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home_styles.css') }}">
    <title>ManuType</title>
</head>
<body>
    <h1 id="title">ManuType</h1>
    <p id="info">A minimalistic typing website</p>

    <a href="{{url_for('time_page')}}"><button id="time">Time</button></a>
    <a href="{{url_for('words_page')}}"><button id="words">Words</button></a>
    <a href="{{url_for('register_page')}}"><button id="register">Register</button></a>
    <a href="{{url_for('login_page')}}"><button id="login">Login</button></a>
</body>
</html>