<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home_styles.css') }}">
    <title>ManuType</title>
</head>
<body>
    <h1 id="title">ManuType</h1>
    <p id="info">A minimalistic typing website</p>

    <a href="http://127.0.0.1:5000/time"><button id="time">Time</button></a>
    <a href="http://127.0.0.1:5000/words"><button id="words">Words</button></a>
    <a href="http://127.0.0.1:5000/register"><button id="register">Register</button></a>
    <a href="http://127.0.0.1:5000/login"><button id="login">Register</button></a>
</body>
</html>