<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <title>Register</title>
</head>
<body> 
    <div class="invalid">   
        {% for mesg in get_flashed_messages() %}
                <h1>{{mesg}}</div>
      {% endfor %}
    </div>
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <p>Join Today</p>
            <div>
                {{ form.username.label(class="") }}
                {{ form.username(class="") }}
            </div>
            <div>
                {{ form.email.label(class="") }}
                {{ form.email(class="") }}
            </div>
            <div>
                {{ form.password.label(class="") }}
                {{ form.password(class="") }}
            </div>
            <div>
                {{ form.confirm_password.label(class="") }}
                {{ form.confirm_password(class="") }}
            </div>
            <div>
                {{ form.submit(class="") }}
            </div>
        </form>
    </div>
    <div>
        <div>
            Already have an account? 
            <a href="{{url_for('login_page')}}"><button>Click Here!</button></a>
        </div>
    </div>
</body>
</html>