body {
    background-color: black;
    color:white;
}
#count {
    color:white;
    text-align:center;
    font-size:50px;
    margin-top:200px;
    font-family: monospace;
}
#word {
    text-align:center;
    font-size: 50px;
    font-family: monospace;
}
#text-div {
    text-align: center;
}
#textbox {
    background-color: black;
    color: rgb(10, 255, 47);
    caret-color: rgb(10, 255, 47);
    margin: 0px;
    border:none;
    outline:none;
    font-size:30px;
}
#seconds {
    color:white;
    text-align: center;
    font-size: 40px;
    font-family: monospace;
}